@import url('./Atom.css');
@import url('./AufbauPrinciple.css');
@import url('./ElectronConfiguration.css');
@import url('./OrbitalPane.css');
@import url('./AtomPlayer.css');

.chemistry {
	padding: 5px;	
	border-spacing: 0;
}

.chemistry td span {
	width : 100%;
}
