<div class="chemistry chemistry-aufbauPrinciple">
	<table>
		<tbody>
			<tr>
				<td data-dojo-attach-point="n1">1</td>
				<td data-dojo-attach-point="orbital0">s</td>
			</tr>
			<tr>
				<td data-dojo-attach-point="n2">2</td>
				<td data-dojo-attach-point="orbital1">s</td>
				<td data-dojo-attach-point="orbital2">p</td>
			</tr>
			<tr>
				<td data-dojo-attach-point="n3">3</td>
				<td data-dojo-attach-point="orbital3">s</td>
				<td data-dojo-attach-point="orbital4">p</td>
				<td data-dojo-attach-point="orbital6">d</td>
			</tr>
			<tr>
				<td data-dojo-attach-point="n4">4</td>
				<td data-dojo-attach-point="orbital5">s</td>
				<td data-dojo-attach-point="orbital7">p</td>
				<td data-dojo-attach-point="orbital9">d</td>
				<td data-dojo-attach-point="orbital12">f</td>
			</tr>
			<tr>
				<td data-dojo-attach-point="n5">5</td>
				<td data-dojo-attach-point="orbital8">s</td>
				<td data-dojo-attach-point="orbital10">p</td>
				<td data-dojo-attach-point="orbital13">d</td>
				<td class="futuro" data-dojo-attach-point="orbital16">f</td>
				<td class="futuro" data-dojo-attach-point="orbital19">g</td>
			</tr>
			<tr>
				<td data-dojo-attach-point="n6">6</td>
				<td data-dojo-attach-point="orbital11">s</td>
				<td data-dojo-attach-point="orbital14">p</td>
				<td class="futuro" data-dojo-attach-point="orbital17">d</td>
				<td class="futuro" data-dojo-attach-point="orbital20">f</td>
				<td class="futuro" data-dojo-attach-point="orbital22">g</td>
				<td class="futuro" data-dojo-attach-point="orbital24">h</td>
			</tr>
			<tr>
				<td data-dojo-attach-point="n7">7</td>
				<td data-dojo-attach-point="orbital15">s</td>
				<td class="futuro" data-dojo-attach-point="orbital18">p</td>
				<td class="futuro" data-dojo-attach-point="orbital21">d</td>
				<td class="futuro" data-dojo-attach-point="orbital23">f</td>
				<td class="futuro" data-dojo-attach-point="orbital25">g</td>
				<td class="futuro" data-dojo-attach-point="orbital26">h</td>
				<td class="futuro" data-dojo-attach-point="orbital27">i</td>				
			</tr>
			<tr>
				<td></td>
				<td data-dojo-attach-point="l0">4</td>
				<td data-dojo-attach-point="l1">6</td>
				<td data-dojo-attach-point="l2">10</td>
				<td data-dojo-attach-point="l3">14</td>
				<td class="futuro" data-dojo-attach-point="l4">18</td>
				<td class="futuro" data-dojo-attach-point="l5">22</td>
				<td class="futuro" data-dojo-attach-point="l6">26</td>
			</tr>
		</tbody>
	</table>
</div>